/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#global-footer {
  background-color: #3C3237;
  color: #FFFFFF;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}
#global-navigation {
  background-color: #3C3237;
  color: #FFFFFF;
}
#home {
  background-color: #F7F3E2;
}
#gallery-section {
  background-color: #FFCE00;
}
#gallery-section #carousel nav {
  margin-top: 8px;
}
#gallery-section #carousel nav button {
  float: left;
  width: 1em;
  height: 1em;
  padding: 0;
  margin-left: 1em;
  border: 1px solid #A7A7A5;
  border-radius: 100%;
  background-color: #FFFFFF;
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
}
#gallery-section #carousel nav button:hover {
  background-color: #F7F3E2;
}
#gallery-section #carousel nav button.active {
  background-color: #A7A7A5;
}
#gallery-section #carousel .inner {
  width: 80%;
  padding: 1em 0;
  overflow: hidden;
}
#gallery-section #carousel ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  white-space: nowrap;
}
#gallery-section #carousel ul li {
  position: relative;
  display: inline-block;
  width: 100%;
}
#gallery-section #carousel ul a,
#gallery-section #carousel ul img {
  display: block;
  width: 100%;
}
#photolink {
  margin: auto;
}
#intro-section {
  background-color: #000;
}
#intro-section h1 {
  color: #fff;
  margin-left: 45%;
  font-family: monospace;
}
#intro-section h2 {
  color: #fff;
  margin-left: 50%;
}
#mission-section {
  color: #B7D6CD;
}
#who-section {
  background-color: #876479;
}
#who-section .profile {
  width: 20%;
  padding: 0 0.5em;
  float: left;
  text-align: center;
  margin-bottom: 2em;
}
#who-section .profile img {
  width: 100%;
  max-width: 128px;
  height: auto;
  max-height: 128px;
}
#who-section .button.see-all {
  display: table;
  margin: 0 auto;
  clear: both;
}
#who-section .main-text {
  color: #a07e92;
  font-size: 23px;
}
#who-section .subtext {
  color: #2f232a;
}
#bios-page {
  background-image: url("../images/bios/backgroundbio.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
#bios-page span {
  display: block;
}
#bios-page .content {
  clear: both;
  text-align: center;
}
#bios-page .member {
  float: left;
  width: 20%;
}
#bios-page .member a {
  display: block;
}
#gallery-page {
  background-color: #E53E30;
}
#gallery-page .gallery img {
  max-width: 300px;
  margin: 0 auto;
  align-items: center;
}
#individual-bio {
  background-color: #A7A7A5;
}
/*img {
width: 600px;
height: auto;
position: absolute;
top: 50%;
left: 50%;
margin-left: -300px; /* width divided by 2 */
/*#name{
position: absolute;
left:1500px;
top: 50%;
width:250px;
left: 73.4%;
}
*/
/*#img123{
  float:left;
  left:40%;
  position: relative;
  width:600px;
}

#img321{
  float:left;
  left:40%;
  position: relative;
}
*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.row:after,
.group:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  width: 100%;
  float: none;
  clear: both;
}
.column {
  width: 25%;
  float: left;
}
.section {
  padding: 3em 0;
}
.center {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
.button {
  color: #A7A7A5;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  padding: 0.625em;
  border: 2px solid #A7A7A5;
  margin: 0;
  display: inline-block;
}
.button:hover {
  color: #000000;
  border-color: #000000;
}
