// main: main.less

#bios-page {
  // put all the CSS for the bios page here
  background-color: white;

}

body {

  background-image: url("../images/bios/backgroundbio.png");
  background-size: 100%;
}
