// main: main.less

#bios-page {
  // put all the CSS for the bios page here

  background-image: url("../images/bios/backgroundbio.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  .clearfix:after {
     content: " "; /* Older browser do not support empty content */
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }

  span {
    display: block;
  }


  .content {
    clear: both;
    image: 10%;
    text-align:center;
  }

}
