// main: main.less

#who-section {

  .profile {
    width: 20%;
    float: left;
    text-align: center;
    background-color: orange;

    img {
      width: 128px;
      height: 128px;
    }
  }

  .Treasurer-Profile-Link {
      width: 320px;
      padding: 10px;
      border: 30px solid gray;
      margin: 0;
  }



}
