// main: pages.less

#bios-page {
  // put all the CSS for the bios page here

  background-image: url("../images/bios/backgroundbio.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  span {
    display: block;
  }

  .content {
    clear: both;
    text-align:center;
  }

  .member {
    float: left;
    width: 20%;

    a { display: block; }
  }
}
