// main: pages.less

#gallery-page {
  // put all the CSS for the gallery page here
  background-color: @red;

  .gallery {

    img {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  background-color: @sello-tape;

}
