// main: pages.less

#individual-works {
  // put all the CSS for the individual works here
}

/*img {
width: 600px;
height: auto;
position: absolute;
top: 50%;
left: 50%;
margin-left: -300px; /* width divided by 2 */
//margin-top: -447px; /* height divided by 2 */
//}

/*#name{
position: absolute;
left:1500px;
top: 50%;
width:250px;
left: 73.4%;
}
*/

/*#img123{
  float:left;
  left:40%;
  position: relative;
  width:600px;
}

#img321{
  float:left;
  left:40%;
  position: relative;
}
*/
