// main: pages.less

#individual-works {
  // put all the CSS for the individual works here
}

#image {
width: 600px;
height: auto;
margin: auto;
display: block;
}

#name{
position: absolute;
left:1500px;
top: 50%;
width:250px;
left: 73.4%;
}

#global-navigation {
  background-color: #3C3237;
  color: #FFFFFF;
  padding: 0px;
}
#global-navigation ul {
  float: right;
  margin-top: 3.5%;

}
#global-navigation li {
  display: inline;
}
#global-navigation img {
  max-width: 140px;
  min-width: 140px;
  height: auto;
  margin: auto;
  display: block;

}

#individual-name{
font-family: 'Source Sans Pro', sans-serif;
background-color: #876479;
margin-top: 0 auto;
display:block;
text-align: center;
margin: auto;
}

body{
  background-color: @light-tan;
}
