// main: ../pages.less

#gallery-section {
  // put all the CSS for the homepage gallery section here
  background-color: @scotch-gold;

  // CAROUSEL NAV CSS FORMATTING

  #carousel {

    nav {
      // float: right;
      margin-top: 8px;

      a {
        float: left;
        width: 9px;
        height: 9px;
        margin-left: 15px;
        border: 1px solid @medium-gray;
        border-radius: 20px;
        background-color: @white;
        transition: background-color .2s ease-out;
        -webkit-transition: background-color .2s ease-out;
        -moz-transition: background-color .2s ease-out;

        &:hover {
          background-color: @light-tan;
        }

        &.active {
          background-color: @medium-gray;
        }
      }
    }
  }


  // CAROUSEL INNER CSS FORMATTING

  #carousel .inner {
    // clear: left;
    width: 650px;
    // height: 650px;
    padding: 1em 0;
    overflow: hidden;
  }

  #carousel ul {
    width: 2600px;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      position: relative;
      float: left;

      // div {
      //   position: absolute;
      //   bottom: 30px;
      //   width: 100%;
      //   padding: 12px 0;
      // }
    }

    a,
    img {
      display: block;
    }
  }
}
