// main: ../pages.less

#intro-section {
  background-color: #000;

  h1{
    color: #fff;
    margin-left: 45%;
    font-family: monospace;
  }
   h2{
      color: #fff;
      margin-left: 50%;
    }
}
