// main: ../pages.less

#mission-section {
  // put all the CSS for the homepage mission section here
  color: @red;

  .mission {

    img {
      max-width: 300px;
      margin: 0 auto;
      align-items: center;
    }
  }

}
