// main: ../pages.less

#mission-section {
  // put all the CSS for the homepage mission section here


background-color: rgb(184,214,206);

.center {
  width: 75%;

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 15.5px;
  }
}


.mission-artwork {
  width: 90%;
  margin-left: 7%;
  }

.mission-artwork img {
  width: 24%;
  margin-top: 5%;
  border: 1px solid gray;
  margin-bottom: absolute;
}

}
